{% extends "base.html" %}

{% block content %}
  <p>
    Hey! We noticed that you are using Safari.

    Unfortunately Safari has a conservative cookie policy that prevents us from loading some content.
  </p>

  <p>
    To solve this problem, we suggest that you switch to another browser, for example
    <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>
    or
    <a target="_blank" href="https://www.google.com/chrome/">Chrome</a>.
  </p>

  <p>
    Alternatively, you can click the following button to enable loading of the missing content, and then refresh this page.
  </p>

  <div id="cookie_link" style="display:block">
    <a target=_blank href="javascript:popup();">Enable loading of missing content</a><br>
  </div>

  <div id="refresh_message" style="display:none">
    <p>
      Thanks! You can now proceed with refreshing this page.
    </p>
  </div>

  <script type="text/javascript">
    var popup = function() {
        var helperWindow = window.open("{% url 'iframe_fix' %}?cookie_fix=1", "Setting cookie", "location=1,status=1,scrollbars=0,width=50,height=50");
        helperWindow.onunload = function(e) {
            document.getElementById('cookie_link').style.display = 'none';
            document.getElementById('refresh_message').style.display = 'block';
        };
    }
  </script>
{% endblock content %}
