body {
    padding: 1.2rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #313131;
}

.lpd, .question-framing {
    margin-bottom: 1.2rem;
}

.section-title {
    padding: 0.4rem;
    background-color: #f2f2f2;
    cursor: pointer;
}

.section-title:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.section-instructions {
    font-size: 0.85rem;
    font-weight: normal;
}

.section-intro, .submit-instructions {
    margin-bottom: 1.6rem;
}

.section-intro {
    font-size: 0.95rem;
}

.section-intro, .section-questions, .section-controls {
    padding-left: 0.4rem;
}

.section-questions, .section-controls, .question {
    margin-bottom: 4rem;
}

.question-number, .ranking-option > label:last-of-type, .likert-option > label:last-of-type {
    margin-right: 1.4rem;
}

textarea.answer-text {
    width: 60%;
    min-height: 10rem;
    padding: 0.8rem;
}

.question label, .ranking-option, .likert-option {
    margin-bottom: 1rem;
}

.quantitative-options {
    margin-left: 4.4rem;
}

.mc-options > label, .mr-options > label {
    display: block;
}

.question-framing {
    font-size: 0.9rem;
}

.question-framing, .submit-instructions {
    font-style: italic;
}

.custom-input {
    margin-left: 0.6rem;
}

.section-submit {
    box-shadow: none;
    border-color: #0075b4;
    border-style: solid;
    border-radius: 0.1875rem;
    border-width: 1px;
    padding: 0.625rem 1.25rem;
    background: #0075b4;
    font-size: 1rem;
    text-shadow: none;
    color: #fcfcfc;
    cursor: pointer;
}

.section-submit:hover {
	background-color: #065683;
}
