body {
    padding: 1.2rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #313131;
}

.lpd, .question-framing {
    margin-bottom: 1.2rem;
}

.section-title {
    padding: 0.4rem;
    background-color: #f2f2f2;
    cursor: pointer;
}

.section-title:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.section-collapse {
    margin-right: 0.2em;
}

.section-collapse.expanded {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition-property: transform;
    transition-duration: 600ms;
}

.section-collapse.collapsed {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: 600ms;
}

.section-instructions {
    font-weight: normal;
}

.section-instructions, .submission-info {
    font-size: 0.85rem;
}

.section-intro, .submit-instructions {
    margin-bottom: 1.6rem;
}

.section-intro {
    font-size: 0.95rem;
}

.section-intro, .section-questions, .section-controls, .question-controls {
    padding-left: 0.4rem;
}

.section-questions, .section-controls, .question-controls, .question {
    margin-bottom: 4rem;
}

.question-number, .ranking-option > label:last-of-type, .section-submit, .question-submit {
    margin-right: 1.4rem;
}

.answer-text.short-answer {
    min-width: 20%;
    padding: 0.5rem;
}

.answer-text.essay {
    width: 60%;
    min-height: 10rem;
    padding: 0.8rem;
}

.question label, .ranking-option {
    margin-bottom: 1rem;
}

.question-framing, .answer-text, .quantitative-options {
    margin-left: 4.4rem;
}

.mc-options > label, .mr-options > label {
    display: block;
}

.likert-options table {
    border-collapse: collapse;
    border-style: hidden;
}

.likert-options th, .likert-options td {
    border: 2px solid #f2f2f2;
    padding: 1rem;
}

.likert-options th, .answer-option-value {
    text-align: center;
}

.question-framing {
    font-size: 0.9rem;
}

.question-framing, .submit-instructions, .submission-info {
    font-style: italic;
}

.custom-input {
    margin-left: 0.6rem;
}

.section-submit, .question-submit {
    box-shadow: none;
    border-color: #0075b4;
    border-style: solid;
    border-radius: 0.1875rem;
    border-width: 1px;
    padding: 0.625rem 1.25rem;
    background: #0075b4;
    font-size: 1rem;
    text-shadow: none;
    color: #fcfcfc;
    cursor: pointer;
}

.section-submit:hover, .question-submit:hover {
	background-color: #065683;
}
