{% extends "base.html" %}

{% block content %}
<div id="edit-lpd">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      {{ field }}
      <div class="help-text">{{ field.help_text }}</div>
      <div id="{{ field.auto_id }}_errors">{{ field.errors }}</div>
    {% endfor %}
    <div class="columns">
      {% if user.is_authenticated %}
        <button id="save" type="submit">Save</button>
      {% endif %}
      <ul class="links">
        <li><a href="{% url "lpd:list" %}">see all</a></li>
      </ul>
    </div>
  </form>
  <div id="error"></div>
</div>
{% endblock content %}
