{% extends "base.html" %}

{% load staticfiles %}
{% load lpd_tags %}

{% block js %}
  {{ block.super }}
  <script src="{% static "js/section.js" %}"></script>
{% endblock js %}

{% block content %}
  <div id="view-lpd">
    <h1 class="lpd">
      {% get_percent_complete lpd learner as completion_percentage %}
      {{ lpd.name }} <span class="profile-completeness">({{ completion_percentage }} complete)</span>
      <a class="profile-export" href="{% url 'lpd:export' pk=lpd.pk %}">Download profile data</a>
    </h1>

    {% for profile_section in lpd.sections.all %}
      {% with section_template="section.html" %}
        {% include section_template with section=profile_section %}
      {% endwith %}
    {% endfor %}

    <a class="profile-export" href="{% url 'lpd:export' pk=lpd.pk %}">Download profile data</a>
  </div>
{% endblock content %}
