{% load lpd_filters %}

<form id="section-form" name="{{ form.form_name }}" action="#form" method="post" enctype="multipart/form-data">

  {% csrf_token %}

  <h2 class="section-title" title="Click to expand/collapse this section">{{ section.title }}</h2>

  {% if section.intro_text %}
    <p class="section-intro">{{ section.intro_text|render_custom_formatting }}</p>
  {% endif %}

  <div class="section-questions">
    {% for profile_question in section.questions %}
      {% with question_template="question.html" %}
        {% include question_template with question=profile_question %}
      {% endwith %}
    {% endfor %}
  </div>

  <div class="section-controls">
    <button type="submit" class="section-submit">
      Submit your answers
    </button>
  </div>

</form>
