{% load lpd_filters %}
{% load lpd_tags %}

<form id="section-form"
      action="#form"
      method="post"
      enctype="multipart/form-data"
      data-section-id="{{ section.id }}">

  {% csrf_token %}

  <h2 class="section-title" title="Click to expand/collapse this section">
    <i class="fas fa-caret-right section-collapse expanded"></i> {{ section.title }} <span class="section-instructions">(click to expand and collapse)</span>
    {% get_percent_complete section learner as completion_percentage %}
    <span class="section-completeness">{{ completion_percentage }} complete</span>
  </h2>

  {% if section.intro_text %}
    <p class="section-intro">{{ section.intro_text|render_custom_formatting }}</p>
  {% endif %}

  <div class="section-questions">
    {% for profile_question in section.questions %}
      {% with question_template="question.html" %}
        {% include question_template with question=profile_question %}
      {% endwith %}
    {% endfor %}
  </div>

  <div class="section-controls">
    <p class="submit-instructions">
      Don’t forget to submit! Your answers will not be saved until you click the submit button below.
    </p>
    <button type="submit" class="section-submit">
      Submit your answers
    </button>
    {% get_last_update section learner as last_update %}
    <span class="submission-info" data-last-update="{{ last_update }}"></span>
  </div>

</form>
