<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <title>Learner Profile Dashboard</title>

  {% load staticfiles %}

  {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/lpd.css" %}">
  {% endblock css %}

  {% block js %}
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/lpd.js" %}"></script>
  {% endblock js %}

</head>

<body>
  {% block content %}{% endblock %}
</body>

</html
